# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars